body {
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}