.navigation-list {
    display: flex;
    gap: 0 50px;
    &__link {
        color: var(--title-text-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
        padding: 32px 0;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
        color: var(--accent-color);
        &::after{
            opacity: 1;
        } }

        &::after{
        position: absolute;
        content: "";
        display: block;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--accent-color);
        opacity: 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
         &--current::after{
            position: absolute;
            content: "";
            display: block;
            left: 0;
            bottom: 0;
            opacity: 1;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: var(--accent-color);
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
      
    }

}
