.page-header {
    border-bottom: 1px solid var(--border-header-color);
    &__container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    &__logo {
    padding: 24px 94px 25px 0;
    }
}
    


