.work-list {
    display: flex;
    gap: 30px;
    &__item {
        position: relative;
  }
    &__text {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.8);
    color: var(--primary-white-color);
    padding: 27px 10px;
  }
}