:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --hero-footer-bgc: #2f303a;
    --button-portfolio: #f5f4fa;
    --contact-footer-color: rgba(255, 255, 255, 0.6);
    --border-header-color: #ececec;
    --border-portfolio-color: #eeeeee;
    --border-clients-color: #afb1b8;
    --footer-social-bg: rgba(255, 255, 255, 0.1);
    --modal-icons-color: #212121;
    --border-modal-color: rgba(33, 33, 33, 0.2);
}